.template2_1, .template2_2, .template2_3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.simpson, .character, .animationHero {
    padding: 10px;
    border: 2px solid forestgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.simpson img, .character img, .animationHero img, .product-card img {
    width: 200px;
}

.simpson .info, .character p, .animationHero p {
    width: 350px;
}



.template3_1 {
    display: flex;
    justify-content: center;

    column-gap: 10px;

}
.product-card {
    padding: 10px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
}